@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: OpenSans;
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('/fonts/OpenSans-Bold.ttf');
}
html {
  scroll-behavior: smooth;
  scrollbar-color: #53746a #fff;
}


.text-move {
  @apply w-fit font-openSans font-semibold;
}
select:focus {
  outline: none;
}
.text-move:after {
  display: block;
  content: '';
  border-bottom: solid 3px #53746a;
  transform: scaleX(0);
  border-radius: 5px;
  transition: transform 250ms ease-in-out;
}
.text-move:hover:after {
  cursor: pointer;
  transform: scaleX(1);
}